img{
    width: 400px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
tr:hover {
    background-color:orangered;
    color: white;
}
tr:first-child {
    background-color: orangered;
    color: white;
    font-size: 1.2em;
    padding: 10vh 10vw;
}

table {
    width: 100%;
    font-size: 0.7em;
    table-layout: fixed;
    background-color: darkblue;
    border-radius: 2px;
    color: white;
}
h2 {
    text-align: center;
}

.terkoz {
    padding-top: 6px;
}
